body {
  background-repeat: no-repeat;
  background-color: #956dc6;
  color: #fff3f3;
  height: 100%;
  -webkit-transition: background-color 1s ease-out;
	-moz-transition: background-color 1s ease-out;
	transition: background-color 1s ease-out;
}

.container-fluid {
  margin-bottom: 200px;
}

.fa-github {
  color: #333;
  font-size: 30px;
  margin: 20px;
}

.fa-github:hover {
  color: #444;
}

h1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 5vh;
}

#quote {
  font-size: 50px;
}

.btns {
  display: inline-block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.fa-twitter {
  margin-right: 10px;
}

#twitterbtn {
  color: #FFF;
  background-color: #333;
  width: 50%;
  left: 0;
  border-right: 2px solid #222;
}

#twitterbtn:hover {
  background-color: #444;
}

#newquote {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #333;
  color: #FFF;
  width: 50%;
  right: 0;
  border-left: 2px solid #222;
}

#newquote:hover {
  background-color: #444;
}

.quote-btn {
  height: 200px;
  border: none;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
}

.quote-btn:focus {
  outline: none;
}

@media screen and (max-height: 800px) {

    .quote-btn {
      height: 70px;;
    }
}

@media screen and (max-width: 800px) {
  #twitterbtn {
    width: 100%;
  }

  #newquote {
    position: relative;
    width: 100%;
  }

  #quote {
    font-size: 50px;
  }

  .quote-btn {
    font-size: 6vw;
  }
}
